// X-Small
$screen-xs-max: 575px;

// Small
$screen-sm-min: 576px;

// Medium
$screen-md-min: 768px;

// Large
$screen-lg-min: 992px;

// Extra large
$screen-xl-min: 1200px;

// Extra extra large
$screen-xxl-min: 1400px;
